<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nebulas Fables</title>
  <link rel="stylesheet" href="./assets/css/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P:regular">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body class="background">
  <header class="header">
    <h1>Nebulas Fables</h1>
  </header>
  
  <section class="NavContainer">
    <nav class="nav">
      <div class="nav-buttons">
        <a href="/"><button type="button" class="main" id="Home">Home</button></a>
        <a href="directory"><button type="button" id="Directory">Directory</button></a>
        <a href="NASA"><button type="button" id="NASA">NASA</button></a>
        <a href="mythos"><button type="button" id="Mythos">Mythos</button></a>
        <a href="about"><button type="button" id="About">About</button></a>
        <a href="login"><button type="button" id="login">Login</button></a>
        <a href="signup"><button type="button" id="signup">Sign-up</button></a>
        <a href="/logout"><button type="button" id="logout">Logout</button></a>
      </div>
    </nav>
  </section>

  <section class="smile">
    <div id="HI">
      <ul>
        <h1>Welcome to Nebulas Fables</h1>
        <br>
        <li>We are an interactive learning zone made to help you understand the intricacies of the stars.</li>
        <br>
        <li>Our site is dedicated to teaching about star clusters, constellations, and cultural interpretations of the galaxy.</li>
        <br>
        <li>While our page is still in the development stages, we are planning to expand from simply offering links and images of the stars into a fully functioning star chart with an interactive database.</li>
      </ul>
    </div>
    <div id="Space">
      <h2>NASA</h2>
      <br>
      <ul>
        <li>Visit our NASA button</li>
        <li>Once there, try typing your favorite constellation into the search bar!</li>
      </ul>
    </div>
    <div id="Myth">
      <h2>Mythos</h2>
      <ul>
        <li>Coming Soon!</li>
        <br>
        <li>Our next planned installment for our page is to add a mythology database, filled with fun facts about different mythologies connected to the stars.</li>
        <br>
        <li>Each mythology will have a dedicated star chart, regional mode, culture filter, and map function that will allow you to search the world for where the myths are derived from.</li>
      </ul>
    </div>
    <div id="Direct">
      <h2>Directory</h2>
      <ul>
        <li>Following the creation of the Mythos database, a helpful directory filled with potential searches, varying lists of what can be learned, and other fun interactive opportunities will be added to the directory.</li>
      </ul>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js" integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>
