<section class="NavContainer">
  <nav class="nav">
    <div class="nav-buttons">
      <a href="/"><button type="button" class="main" id="Home">Home</button></a>
      <a href="directory"><button type="button" id="directory">Directory</button></a>
      <a href="NASA"><button type="button" id="NASA">NASA</button></a>
      <a href="mythos"><button type="button" id="Mythos">Mythos</button></a>
      <a href="about"><button type="button" id="About">About</button></a>
      <a href="login"><button type="button" id="login">Login</button></a>
    </div>
  </nav>
</section>

<div class="signup-card">
  <h2 class="page-title">Create New Account</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="user-signup">Username:</label>
      <input class="form-input" type="text" id="user-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Signup</button>
    </div>
  </form>
</div>

<script src="./assets/js/signup.js"></script>
